/* basic styles */
*{
    font-family: 'Comic Sans MS',sans-serif ;
}
body{
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    transition: 2s;
    background-image:radial-gradient(circle, lightcoral, tomato) ;
}




/* body styles */
#mineField{
    display: flex;
    flex-wrap: wrap;
}
#container{
    width:64rem;
    height: 32rem;
    border: solid 5px black;
}
#scoreField{
    border-bottom: solid 3px black;
    height: 4rem;
    display: flex;
}
#score{
    height:2rem;
    width:2rem;
    align-self: center;
}
.pressedButtons{
    background-Color:rgb(54, 52, 52);
    color: white;
    opacity: 0.65;
    font-size: 20px;
}
.pressedButtons[disabled]{
    color: white;
    background-Color:rgb(54, 52, 52);
    
}
.time{
    border: 2px solid black;
    background: white;
    padding: 0.5rem;
    transform: skew(15deg);
    margin-right: 0.26rem;
}
.time span{
    font-family: monospace;
}
#start{
    
    text-align: center;
    background-color:#fff;
    border:solid 2px black ;
    width: 7rem;
    transform: skew(-15deg);
    margin-left: 0.3rem;
}
#aboveContainer{
    width: 64.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#backBtn{
    
    text-align: center;
    background-color:#fff;
    border:solid 2px black ;
    width: 7rem;
    transform: skew(-15deg);
    margin-left: 0.3rem;
}
label{
    background-color: white;
    padding: 3%;
    margin: 1%;
    border: 1px solid black;
}
.mineButtons{
    height:32px;
    width: 32px;
    margin: 1px;
}
.pressedButtons{
    background-Color:rgb(138, 132, 132);
}
.flagged{
    background-Color:rgb(138, 61, 61);
    color: white;
    font-size: 15px;
}
.safeButton{
    height:32px;
    width: 32px;
    margin: 1px;
}
.icon{
    display: none;
}
#hint{
    text-align: center;
    margin-top: 0.3rem;
    padding: 10px; 
    margin-bottom: 0.3rem;
}
label{
    padding: 1.3rem;
    margin: 0%;
    background-color: white;
    border: 1px solid black;
}
#switch{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 100%;
}
@media screen and (min-width:300px) and (max-width:600px){
    #container{
        width: 23.5rem;
        height: 45rem;
    }
    .mineButtons{
        height: 23px;
        width: 23px;
        font-size: 10px;
    }
} 