@import url(db.onlinewebfonts.com/c/7cc6719bd5f0310be3150ba33418e72e?family=Comic+Sans+MS);
@font-face {
    font-family: "Comic Sans MS"; 
    src: url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot");
    src: url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot?#iefix")
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff") 
    format("woff"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.ttf") 
    format("truetype"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.svg#Comic Sans MS") 
    format("svg"); }
*{
    font-family:'Comic Sans MS',sans-serif ;
}
a{
    text-decoration: none;
    color: #000;
}
body{
    overflow: hidden;
    width: 100w;
    height: 100vh;
}
#bigPanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:radial-gradient(circle, yellow, orange);
    margin: 0.5rem;
    width: 98%;
    height: 100%;
    background-color:#fff;
    border: solid 2px black;
    box-shadow:0 6px 6px -6px #000;
}
#panelText,#panelText2,#panelText3,#panelText4{
    
    padding: 5px;
    padding-bottom: 10px;
    border-right:solid 2px black ;
    border-bottom:solid 2px black ;
    background-color:#fff;
    height: 5%;
    align-self: flex-start;
}
#nextBtn1 ,#nextBtn2,#nextBtn2,#nextBtn3{
    
    align-self: flex-end;
    text-align: center;
    background-color:#fff;
    border:solid 2px black ;
    width: 20%;
    transform: skew(-15deg);

}
#backBtn{
    
    align-self: flex-start;
    text-align: center;
    background-color:#fff;
    border:solid 2px black ;
    width: 15%;
    transform: skew(-15deg);

}
#backBtn1{
    position: relative;
    bottom: 17.7rem;
    align-self: flex-start;
    text-align: center;
    background-color:#fff;
    border:solid 2px black ;
    width: 15%;
    transform: skew(-15deg);

}
.startBtns , .levelBtns{
    background-color:#fff;
    border-right:solid 2px black ;
    border-bottom:solid 2px black ;
    width: 10%;
    transform: skew(-15deg);
    padding:2px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
}
#title{
    justify-self: flex-start;
    text-align: center;
    background-color:#fff;
    border-right:solid 2px black ;
    border-bottom:solid 2px black ;
    width: 20%;
    transform: skew(-15deg);
}
.miniField ,.miniField2,.miniField3{
    align-self: center;
    border: solid 2px black;
    margin-left: 2px;
    margin-bottom: 3rem;
    display: grid;
    width: 20%;
    height: 30%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    margin-bottom: 20%;
}
.left-point{
	width: 0;
	height: 0;
	border-left: 2vh solid transparent;
	border-right: 2vh solid transparent;
	border-top: 10vh solid white;
	position: absolute;
	top: 45%;
	left: -10%;
	transform: rotate(60deg);
}


@media screen and (min-width:300px) and (max-width:600px) {
        .startBtns {
            width: 20%;
        }
        #title{
            width: 40%;
        }
        .levelBtns{
            width: 20% ;
        }
        #backBtn1{
            position: relative;
            bottom: 0%;
            top: -15rem;
        }
        .miniField ,.miniField2,.miniField3{
            width: 50%;
        }
    
}