/* basic styles */
*{
    font-family: 'Comic Sans MS',sans-serif ;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:  2s;
    background-image: radial-gradient(circle, yellow, orange);
    overflow: hidden;
}




/* body styles */
h1{
    margin: 0%;
}
#mineField{
    display: flex;
    flex-wrap: wrap;
}
#container{
    width: 31rem;
    height: 35rem;
    border: solid 5px black;
}
#scoreField{
    border-bottom: solid 3px black;
    height: 60px;
    display: flex;
}
#aboveContainer{
    width: 31.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#backBtn{
    
    text-align: center;
    background-color:#fff;
    border:solid 2px black ;
    width: 7rem;
    transform: skew(-15deg);
    margin-left: 0.3rem;
}

.time{
    border: 1px solid black;
    background: white;
    padding: 0.5rem;
}
.time span{
    font-family: monospace;
}
#score{
    height:2rem;
    width:2rem;
    align-self: center;
}
#hint{
    text-align: center;
    margin-top: 0.3rem;
    padding: 10px; 
    margin-bottom: 0.3rem;
}
#start{
    
    text-align: center;
    background-color:#fff;
    border:solid 2px black ;
    width: 7rem;
    transform: skew(-15deg);
    margin-left: 0.3rem;
}
#startDiv{
    width: 16.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.time{
    border: 1px solid black;
    background: white;
    padding: 0.5rem;
}

label{
    background-color: white;
    padding: 3%;
    margin: 1%;
    border: 1px solid black;
}
.mineButtons{
    height:31px;
    width: 31px;
    /* border: solid 1px red; */
    margin: 1px;
    
}
.pressedButtons{
    background-Color:rgb(54, 52, 52);
    color: white;
    opacity: 0.65;
    font-size: 20px;
}
.pressedButtons[disabled]{
    color: white;
    background-Color:rgb(54, 52, 52);
    
}
.flagged{
    background-Color:rgb(138, 61, 61);
}
.safeButton{
    height:32px;
    width: 32px;
    /* border: solid 1px red; */
    margin: 1px;
}
.icon{
    display: none;
}
@media screen and (min-width:300px) and (max-width:600px){
    #container{
        width: 23.5rem;
        height: 27.5rem;
    }
    .mineButtons{
        height: 23px;
        width: 23px;
    }
    #aboveContainer{
        width: 24rem;
    }
} 